{% set project = data[0] if data else None %}
<div class='filter_projects'>

<div id="autocomplete" class="autocomplete">
  <input class="autocomplete-input" value="{{project.name}}" name='project_name' id='project_name' placeholder="Enter project name or #hashtag">
  <ul class="autocomplete-result-list"></ul>
  <input type='hidden' name='project' id='project' value="{% if filter_key in query_parameters.keys() %}{{ query_parameters[filter_key] }}{%elif project%}{{project.phid}}{% else %}{{ filter.default }}{% endif %}">
</div>

<script type="module">
//  import {Autocomplete} from '{{base_url}}/static/build/autocomplete.js';
//  projectSearcher()
</script>
</div>