

<div id='chart-{{chart_slug}}'>
  <ul>
  {% for project in data %}
    {% if query_parameters['project'] == project.phid %}
      <h3>{{ project.name }}</h3>
    {% else %}
      <li><a href="?{{ alter_query_url(query_string, {'project': project.phid} ) }}">{{project.name}}</a> (<a href="{{project.uri}}" target="_blank" title='Phabricator project'>#{{project.slug}}</a>)</li>
    {% endif %}
  {% endfor %}
  </ul>
</div>

<script type="text/javascript">
//renderVegaChart('#chart-{{ chart_slug }}', JSON.parse(document.getElementById("data").text)['{{chart_slug}}'], '{{ query_string|safe }}')
</script>