{% extends "base.html" %}

{% block extra_head %}

{% endblock %}
{% block nav %}
<header><nav>
  <p class="crumbs">
      <a href="/">home</a> /
      <a href="/projects">projects</a>
  </p>
  </nav></header>
{% endblock %}
{% block content %}
{% set labels, oldval, newval, valuev, y, phidmap, col = ddd('ddd.project_sankey', project) %}


<div id='myDiv'>
  <!-- Plotly chart will be drawn inside this DIV -->
</div>
<script type="module">
import * as d3 from "https://cdn.skypack.dev/d3@7";
import "https://cdn.plot.ly/plotly-2.3.1.min.js"
import {json} from "https://cdn.skypack.dev/d3-fetch@3";

var phidmap = {{phidmap}};
var phids = [];
for (var k in phidmap){
  phids.push(k);
}

  var col = {{col}};

  var data = {
    type: "sankey",
    orientation: "h",
    hovertemplate: '<a href="%[customdata]">%[label]</a>',
    node: {
      pad: 30,
      thickness: 40,
      line: {
        color: "black",
        width: 0.75
      },
      label: {{ labels }},
      y: {{ y }},
      xaxis: 'x1',
      yaxis: 'y1',
      customdata: phids,
    },
    link: {
      colorscales: [ {colorscale:'Blues'} ],
      source: {{ oldval }},
      target: {{ newval }},
      value: {{ valuev }},
      z: col['dt']

    }
  };


  var selectorOptions = {
    buttons: [{
        step: 'month',
        stepmode: 'backward',
        count: 1,
        label: '1m'
    }, {
        step: 'month',
        stepmode: 'backward',
        count: 6,
        label: '6m'
    }, {
        step: 'year',
        stepmode: 'todate',
        count: 1,
        label: 'YTD'
    }, {
        step: 'year',
        stepmode: 'backward',
        count: 1,
        label: '1y'
    }, {
        step: 'all',
    }],
};

  var height = data.node.label.length * 28;
  height = Math.max(height, 1000);
  height = Math.min(height, 1800);
  var layout = {
    showlegend: true,
    legend: {"orientation": "h"},
    title: "{{project_name}}",
    height: height,
    grid: {rows: 1, columns: 1, pattern: 'independent'},
    font: {
      size: 12
    },
    xaxis: {
      type: 'date',
      domain: [0.1, 0.99],
      rangeslider: {range: ['2015-02-17', '2021-12-16']},
      constraintoward: 'top'
    },
    yaxis: {
      domain: [0.2, 1],
      ramge: [1, 2],
      constraintoward: 'top'
    },
    xaxis2: {
      rangeselector: selectorOptions,
      //rangeslider: {},
      domain: [0.01, 0.99],
      anchor: 'y1',
      constraintoward: 'bottom',
      type: "date"
    },
    yaxis2: {
      showline: true,
      domain: [0, 0.15],
      range: [-1, 1],
      type: "log",
      anchor: 'free',
      autorange: true
    }

  }

  var config = {
    responsive: true,
    scrollZoom: true,
    editable: true,

  }
  var graphDiv = document.getElementById('myDiv');
  Plotly.react(graphDiv,  [data], layout, config)
  graphDiv.on('plotly_relayout',
    function(eventdata){
        console.log(
            'Event data:' + '\n' +
             JSON.stringify(eventdata) + '\n\n' +
            'x-axis start:' + eventdata['xaxis.range[0]'] + '\n' +
            'x-axis end:' + eventdata['xaxis.range[1]'] );
    });

  var clickdata = {};
  graphDiv.on('plotly_click', function(data) {
    clickdata=data;
    var phid = data.points[0].customdata;
    if (phid && phid.startsWith('PHID-PROJ')) {
      window.location.href ="/project/"+phid;
    }
  });
  graphDiv.on('plotly_doubleclick', function(data){
    console.log(data,clickdata);

  });

    var res = await json('/metrics/columns_rollup.json?project={{project}}');
    var dates = res.rows;
    var timeline = {
      type: "bar",
      x: dates.map(d => new Date(d[0])),
      y: dates.map(d => d[3]),
      xaxis: 'x2',
      yaxis: 'y2',
      label: dates['column'],

    //  color: dates['people']
    }
    console.log(res.rows);
    Plotly.react(graphDiv,  [data, timeline], layout, config);
</script>
{% endblock %}
